@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Hola, @context.User.Identity?.Name, estas autenticado y autorizado.</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>


Pongase comodo y espereme tantico, porque la pagina web aun no esta terminada.
<div>
    <img src="https://www.onyxsystems.es/images/mantenimiento-informatico_cabecera2.gif" />
</div>


<SurveyPrompt Title="How is Blazor working for you?" />
